:root{
  --sky: #1b72e8;
  --blue: #165bba;
  --dark-blue: #051e34;
  --light-grey: #f7f7f7;
  --green: #198754;
  --yellow: #ffc107;
  --red: #dc3545;
  --grey: #6c757d;
}

/* GENERAL */


*{
  list-style: none;
}

* a{
  text-decoration: none;
}

ul{
  margin: 0 auto;
}

.app{
  height: 100vh;
}

header{
  z-index: 1;
  height: 70px;
  max-height: 70px;
  width: 100%;
  overflow: hidden;
  background-color: var(--light-grey);
}

main{
  max-height: calc(100vh - 70px);
  height: 100vh;
}

aside{
  width: 70px;
  background-color: var(--dark-blue);
  color: white;
  padding-top: 30px;
  background-image: url('./img/sidebar-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.content{
  width: 100%;
  background-color: var(--light-grey);
  color: white;
  overflow: auto;
}

.content .row{
  margin: 0 auto;
}

.container-sc{
  min-width: 100%;
  background-color: white;
}

.boolean{
  width: 100%;
  background-color: var(--sky);
  color: white;
}

#mobilelogo{
  width: 40px;
  height: 40px;
  
}

header a{
  font-size: 20px;
  color: var(--grey);
}

header a:hover{
  color: var(--yellow);
}

.form{
  background-color: var(--grey);
}

aside ul li a{
  color: white;
}

/* MAIN */

.boolean a{
  color: white;
}

.boolean .n-s{
  font-size: 1.2rem;
  white-space: nowrap;
}

.boolean .s-s{
  font-size: 2rem;
}

.boolean .new-student i{
  font-size: 3rem;
}

.btn{
  font-size: 0.7rem;
  border: 1px solid var(--blue);
  border-radius: 40px;
  background-color: var(--blue);
  padding: 1px 3px 1px 3px;
  white-space: nowrap;
}

.new-student{
  order: 3;
}

.online-student{
  order: 2;
}

.boolean-apps{
  order: 1;
}

/* SECTION CLASS */

.class img{
  height: 25px;
}

.class li{
  line-height: 30px;
  white-space: nowrap;
}

.class .card-header{
  background-color: var(--light-grey);
}

.class .badge{
  font-size: 0.7rem;
}

.class a .fa-pen,
.class a .fa-trash{
  color: var(--grey);
  border: 1px solid var(--grey);
  border-radius: 3px;
  font-size: 0.8rem;
  padding: 3px;
}

.users a{
  text-decoration: underline;
  color: #1b72e8;
}

@media (min-width: 992px) {
  aside {
    width: 140px;
  }
}