:root{
  --sky: #1b72e8;
  --blue: #165bba;
  --dark-blue: #051e34;
  --light-grey: #f7f7f7;
  --green: #198754;
  --yellow: #ffc107;
  --red: #dc3545;
  --grey: #6c757d;
}

/* [class^="col"]{
  background-color: rgba(0, 0, 0, .2);
  border: 1px solid black;
} */


/* GENERAL */

.app{
  height: 100vh;
}

header{
  z-index: 1;
  height: 70px;
  max-height: 70px;
  width: 100%;
  overflow: hidden;
  background-color: var(--light-grey);
}

aside{
  max-height: calc(100vh - 70px);
  height: 100%;
  width: 70px;
  padding-top: 30px;
  background-color: var(--dark-blue);
  color: white;
}

.container-sc{
  min-width: 100%;
  background-color: white;
}

#mobilelogo{
  width: 40px;
  height: 40px;
  
}

header a{
  font-size: 20px;
  color: var(--grey);
}

header a:hover{
  color: var(--yellow);
}

.form{
  background-color: var(--grey);
}

/* .boolean{
  background-color: var(--blue);
  color: white;
  width: calc(100vh - 70px);
} */

@media (min-width: 992px) {
  aside {
    width: 140px;
  }
}