:root{
  --sky: #1b72e8;
  --blue: #165bba;
  --dark-blue: #051e34;
  --light-grey: #f7f7f7;
  --green: #198754;
  --yellow: #ffc107;
  --red: #dc3545;
  --grey: #6c757d;
}

[class^="col"]{
  background-color: rgba(0, 0, 0, .2);
  border: 1px solid black;
}


/* GENERAL */

.app{
  height: 100vh;
}

header{
  z-index: 1;
  height: 90px;
  max-height: 90px;
  width: 100%;
  overflow: hidden;
}

aside{
  max-height: calc(100vh - 90px);
  height: 100%;
  max-width: 100px;
  padding-top: 90px;
}

.container-sc{
  min-width: 100%;
}

#mobilelogo{
  width: 50px;
  height: 50px;
}

.r-l-col