:root{
  --sky: #1b72e8;
  --blue: #165bba;
  --dark-blue: #051e34;
  --light-grey: #f7f7f7;
  --green: #198754;
  --yellow: #ffc107;
  --red: #dc3545;
  --grey: #6c757d;
}

/* [class^="col"]{
  background-color: rgba(0, 0, 0, .2);
  border: 1px solid black;
} */


/* GENERAL */


*{
  list-style: none;
}

* a{
  text-decoration: none;
}

ul{
  margin: 0 auto;
}

.app{
  height: 100vh;
}

header{
  z-index: 1;
  height: 70px;
  max-height: 70px;
  width: 100%;
  overflow: hidden;
  background-color: var(--light-grey);
}

main{
  max-height: calc(100vh - 70px);
  height: 100vh;
}

aside{
  width: 70px;
  background-color: var(--dark-blue);
  color: white;
  padding-top: 30px;
}

.content{
  width: 100%;
  background-color: var(--green);
  color: white;
}

.container-sc{
  min-width: 100%;
  background-color: white;
}

.boolean{
  width: 100%;
  background-color: var(--sky);
  color: white;
}

#mobilelogo{
  width: 40px;
  height: 40px;
  
}

header a{
  font-size: 20px;
  color: var(--grey);
}

header a:hover{
  color: var(--yellow);
}

.form{
  background-color: var(--grey);
}

aside ul li a{
  color: white;
}

/* MAIN */

.boolean a{
  color: white;
}

.boolean .n-s{
  font-size: 1.5rem;
  font-weight: 100;
}

.boolean .new-student a{
  font-size: 4rem;
}

.boolean .s-s{
  font-size: 1.8rem;
}

.btn{
  font-size: 1rem;
  border: 1px solid var(--blue);
  border-radius: 50px;
  background-color: var(--blue);
}

/* .boolean{
  background-color: var(--blue);
  color: white;
  width: calc(100vh - 70px);
} */

@media (min-width: 992px) {
  aside {
    width: 140px;
  }

}